{% extends 'base.html' %}
{% block title %}Delete Member{% endblock %}
<body>
    {% block content %}
    </br>
    </br>
    <p>Carefully read this before proceeding!</p>
    <p>By clicking the button below, you are confirming that you want to delete {{ member.first_name }} {{ member.last_name }} from the credit union account.</p>
    <p>Before deleting, the member must not owe the credit union or have any active contribution</p>
    <p>If {{ member.name }} has any active contribution, first withdraw all the money the member has before deleting.</p>
    </br>
    </br>


    <main>
        <section class="make-contribution">
            <form action="{% url 'delete' member.msisdn %}" method="POST">
                {% csrf_token %} 
                <p>Do you want to proceed?</p>         
                <button type="submit" class="btn btn-danger">Delete Member</button>
            </form>
        </section>
    </main>

    {% endblock %}
</body>
</html>