{% extends 'base.html' %}
{% block title %}Transaction History{% endblock %}
<body>
    {% block content %}

    <main>
        <section class="view-members">
            <h1>History</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Transaction Type</th>
                        <th>Date</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                    <tr>
                        <td>{{ member.first_name }} {{ member.last_name }}</td>
                        <td>{{ transaction.transaction_type }}</td>
                        <td>{{ transaction.date }}</td>
                        <td>{{ transaction.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>

    {% endblock %}
</body>
</html>