{% extends 'base.html' %}
{% block title %}Home{% endblock %}
<body>
    {% block content %}

    <main class="container mt-5">
        <section class="intro text-center">
            <h1>Welcome to the Credit Union Management System</h1>
            <p>
                Our system is designed to streamline the management of credit unions. Use the navigation bar to add new members, 
                view existing members, record contributions, and manage loan requests. 
                We aim to simplify financial operations and enhance accessibility for everyone.
            </p>
        </section>
    </main>
    {% if user.is_authenticated %}
    {% if not union %}
    <p class="text-center">
        To create a Credit Union System, please click the button below.
    </p>    
    <p class="text-center"><a href="{% url 'create_union' %}" class="btn btn-primary">Create Credit Union</a></p>
    {% else %}
    <h3 class="text-center">
        You are currently managing the <strong>{{ union.name }}</strong> Credit Union System.
    </h3>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Credit Union Balance</th>
                <th>Total Contributions</th>
                <th>Total Debt</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ union.amount }}</td>
                <td>{{ total_contribution }}</td>
                <td>{{ total_loan_debt }}</td>
            </tr>
        </tbody>
    </table>
    {% endif %}
    {% endif %}
    {% endblock %}
</body>
</html>