{% extends 'base.html' %}
{% block title %}Home{% endblock %}
<body>
    {% block content %}

    <main class="container mt-5">
        <section class="intro text-center">
            <h1>Welcome to the Credit Union Management System</h1>
            <p>
                This system is designed to streamline the management of credit unions. Use the navigation bar to add members, 
                view existing members, record contributions, and manage loan requests. 
                Our goal is to simplify financial operations and improve accessibility for everyone.
            </p>
        </section>
    </main>

    {% endblock %}
</body>
</html>