{% extends 'base.html' %}
{% block title %}Loan Requests{% endblock %}
<body>
    {% block content %}

    <main>
        <section class="view-members">
            <h1>Loan Requests</h1>
            <form action="{% url 'loan_request' %}" class="sort_head">
                <label for="sort">Sort by</label>
                <select name="sort" class="sort">
                  <option value="first_name" {% if sort == 'first_name' %}selected{% endif %}>Name</option>
                  <option value="loan_created" {% if sort == 'loan_created' %}selected{% endif %}>Date created</option>
                  <option value="amount_requested"{% if sort == 'amount_requested' %}selected{% endif %}>Amount requested</option>
                </select>
                <select name="order" class="sort">
                  <option value="" {% if order == '' %}selected{% endif %}>Ascending</option>
                  <option value="-" {% if order == '-' %}selected{% endif %}>Descending</option>
                </select> 
                <label for="filter">Filter by</label>
                <select name="filter" class="filter">
                  <option value="all" {% if filter == 'all' %}selected{% endif %}>All</option>
                  <option value="APPROVED" {% if filter == 'APPROVED' %}selected{% endif %}>Approved</option>
                  <option value="REJECTED"{% if filter == 'REJECTED' %}selected{% endif %}>Rejected</option>
                  <option value="PENDING"{% if filter == 'PENDING' %}selected{% endif %}>Pending</option>
                </select>
                <button type="submit" class="apply">Apply</button> 
            </form>
            <a href="{% url 'download_requests' %}" download>Export to excel</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Amount Requested</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in page_obj %}
                    <tr>
                        <td>{{ member.first_name }} {{ member.last_name }}</td>
                        <td >{{ member.amount_requested }}</td>
                        <td>{{ member.date }}</td>
                        <td>{{ member.loan_status }}</td>
                        <td><a href={% url 'loan_details' loan_id=member.loan_id %}>More details</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            <a href="{% url 'input_loans' %}">Add Loan Request</a>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <div class="pagination">{% if page_obj.paginator.num_pages != 1%}
              
                <div class="page">
                    {% if page_obj.has_previous %}
                    <a href="?page=1">First</a>
                    <a href="?page={{ page_obj.previous_page_number }}">Back</a>
                {% endif %}
        
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <strong id="highlight">{{ num }}</strong>
                    {% else %}
                        <a href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                {% endif %}
            {% endif %}
                </div>
            </div>
        </section>
    </main>

    {% endblock %}
</body>
</html>