{% extends 'base.html' %}
{% block title %}View members{% endblock %}
<body>
    {% block content %}

    <main>
        <section class="view-members">
            <h1>Loan Requests</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Amount Requested</th>
                        <th>Date</th>
                        <th>Status</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for member in members %}
                    <tr>
                        <td>{{ member.first_name }} {{ member.last_name }}</td>
                        <td>{{ member.amount_requested }}</td>
                        <td>{{ member.date }}</td>
                        <td>{{ member.loan_status }}</td>
                        <td><a href={% url 'loan_details' loan_id=member.loan_id %}>More details</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            <a href="{% url 'input_loans' %}">Add Loan Request</a>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </section>
    </main>

    {% endblock %}
</body>
</html>