{% extends 'base.html' %}
{% block title %}Loans{% endblock %}
<body>
    {% block content %}

    <main>
        <section class="view-members">
            <h1>Loans</h1>
            <form action="{% url 'view_loans' %}" class="sort_head">
                <label for="sort">Sort by</label>
                <select name="sort" class="sort">
                  <option value="first_name" {% if sort == 'first_name' %}selected{% endif %}>Name</option>
                  <option value="updated" {% if sort == 'updated' %}selected{% endif %}>Date updated</option>
                  <option value="amount_of_loan"{% if sort == 'amount_of_loan' %}selected{% endif %}>Amount requested</option>
                </select>
                <select name="order" class="sort">
                  <option value="" {% if order == '' %}selected{% endif %}>Ascending</option>
                  <option value="-" {% if order == '-' %}selected{% endif %}>Descending</option>
                </select> 
                <label for="filter">Filter by</label>
                <select name="filter" class="filter">
                  <option value="all" {% if filter == 'all' %}selected{% endif %}>All</option>
                  <option value="ACTIVE" {% if filter == 'ACTIVE' %}selected{% endif %}>Active</option>
                  <option value="PAID"{% if filter == 'PAID' %}selected{% endif %}>Paid</option>
                  <option value="OVERDUE"{% if filter == 'OVERDUE' %}selected{% endif %}>Overdue</option>
                </select>
                <button type="submit" class="apply" class="btn btn-primary">Apply</button> 
            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Amount Requested</th>
                        <th>Interest</th>
                        <th>Total amount to pay</th>
                        <th>Amount Left to pay</th>
                        <th>Status</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for member in page_obj %}
                    <tr>
                        <td>{{ member.first_name }} {{ member.last_name }}</td>
                        <td align="center">{{ member.amount_of_loan }}</td>
                        <td align="center">{{ member.interest }}</td>
                        <td align="center">{{ member.total_amount }}</td>
                        <td align="center">{{ member.amount_left }}</td>
                        <td>{{ member.status }}</td>
                        <td align="center"><a href={% url 'loan_details' loan_id=member.loan_id %}>More details</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pagination">{% if page_obj.paginator.num_pages != 1%}
                <span id="page_num">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
                <div class="page">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}">Back</a>
                    {% endif %}
            
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <strong id="highlight">{{ num }}</strong>
                        {% else %}
                            <a href="?page={{ num }}">{{ num }}</a>
                        {% endif %}
                    {% endfor %}
            
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">Next</a>
                    {% endif %}
                {% endif %}
                </div>
            </div>
        </section>
    </main>

    {% endblock %}
</body>
</html>