{% extends 'base.html' %}
{% block title %}{{ member.name }}{% endblock %}
<body>
    {% block content %}

    <main class="container mt-5">
        <section class="member">
            <h1>{{ member.name }}</h1>
            <p>Member Phone Number: {{ member.msisdn }}</p>
            <p>Total Contribution: {% if member.total_contribution %}{{ member.total_contribution }} {% else %} 0.00 {% endif %}</p>
            <p>Loan debt: {% if member.loan_debt %}{{ member.loan_debt }}{% else %} 0.00 {% endif %}</p>
            <p>Email: {% if member.email %}{{ member.email }}{% else %} N/A {% endif %}</p>
            <p>Date of Birth: {% if member.dob%}{{ member.dob }}{% else %} N/A {% endif %}</p>
        </section>
        {% if member.status == 'ACTIVE' %}
        <div class="action">
            <a href="{% url 'edit_member' member.msisdn %}">Edit</a>
        </div>
        
        <form action="{% url 'withdraw' member.msisdn %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary" value="withdraw" name="button">Withdraw Money</button>
        </form>
        {% endif %}
        <form action="{% url 'delete' member.msisdn %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger" value="delete" name="del_button">Delete Member</button>
        </form>
    </main>

    {% endblock %}
</body>
</html>