{% extends 'base.html' %}
{% block title %}View members{% endblock %}
<body>
    {% block content %}

    <main>
        <section class="view-members">
            <h1>Current Members</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number</th>
                        <th>Total Contribution</th>
                        <th>Loan debt</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for member in members %}
                    <tr>
                        <td>{{ member.first_name }} {{ member.last_name }}</td>
                        <td>0{{ member.msisdn }}</td>
                        <td>{% if member.total_contribution %}{{ member.total_contribution }} {% else %} 0.00 {% endif %}</td>
                        <td>{% if member.loan_debt %}{{ member.loan_debt }}{% else %} 0.00 {% endif %}</td>
                        <td><a href={% url 'members' msisdn=member.msisdn %}>More</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            <a href="{% url 'add_member' %}">Add member</a>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Credit Union Balance</th>
                        <th>Overall Contribution</th>
                        <th>Overall debt</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ credit_union_balance }}</td>
                        <td>{{ total_contribution }}</td>
                        <td>{{ total_loan_debt }}</td>

            </table>
        </section>
    </main>

    {% endblock %}
</body>
</html>