{% extends 'base.html' %}
{% block title %}View members{% endblock %}
<body>
    {% block content %}

    <main>
        <section class="view-members">
            <h1>Current Members</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number</th>
                        <th>Total Contribution</th>
                        <th>Loan debt</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in members %}
                    <tr>
                        <td>{{ member.first_name }} {{ member.last_name }}</td>
                        <td>0{{ member.msisdn }}</td>
                        <td>{% if member.total_contribution %}{{ member.total_contribution }} {% else %} 0.00 {% endif %}</td>
                        <td>{% if member.loan_debt %}{{ member.loan_debt }}{% else %} 0.00 {% endif %}</td>
                        <td><a href={% url 'members' msisdn=member.msisdn %}>View</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>

    {% endblock %}
</body>
</html>