{% extends 'base.html' %}
{% block title %}View members{% endblock %}
<body>
    {% block content %}

    <main>
        <section class="view-members">
            <h1>Current Members</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number</th>
                        <th>Total Contribution</th>
                        <th>Loan debt</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in members %}
                    <tr>
                        <td>{{ member.first_name }} {{ member.last_name }}</td>
                        <td>{{ member.msisdn }}</td>
                        <td>{{ member.total_contribution }}</td>
                        <td>{{ member.loan_debt }}</td>
                        <td>
                            {% comment %} <a href="{{ url_for('edit_member', member_id=member.id) }}">Edit</a>
                            <a href="{{ url_for('delete_member', member_id=member.id) }}">Delete</a> {% endcomment %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>

    {% endblock %}
</body>
</html>